@media only screen and (max-width: 480px) {
    body {
        font-family: 'Roboto', sans-serif;
        padding: 0;
        margin: 0;
    }
    
    a {
        transition: 500ms;
        color: black;
        text-decoration: none;
    
    }
    
    a:hover {
        color: yellow;
    }
    
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    header {
        height: 100px;
        padding: 0;
        margin: 0;
        background-color: #161616;
        color: #fff;
        font-size: 17px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    nav {
        display: none;
    }
    
    nav a {
        display: none;
    }
    
    header .tell-me {
        color: yellow;
        font-weight: bold;
    }
    
    .feature-1 {
        height: 657px;
        background-image: url(img/1.jpg);
        background-position: center;
        background-size: 180%;
    }
    
    .feature-1 a {
        display: inline-block;
        width: 350px;
        height: 63px;
        border-radius: 12px;
        background-color:white;
        position: relative;
        left: 50%;
        margin-left: -175px;
        top: 575px;
        transition: 500ms;
    }
    
    .feature-1 .button {
        font-size: 28px;
        position: relative;
        left: 46px;
        top: 15px;
        width: 259px;
    }
    
    .feature-1 a:hover {
        background-color: black;
        color: white !important;
    }
    
    .feature-2 {
        display: none;
    }
    
    
    .feature-3 {
        display: none;
    }
    
    .feature-4 {
        display: none;
    }
    
    .feature-5 {
        height: 380px;
        width: 100%;
        color: white;
        background-color: #161616;
    }
    
    .feature-5 h1 {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 208px;
        padding-top: 32px;
        font-weight: bold;
        font-size: 28px;
    }
    
    .feature-5 .flex {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 70px;
        height: 200px;
    }
    
    .feature-5 .flex div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .feature-5 .flex div span {
        font-size: 18px;
        font-weight: 700;
    }
    
    .feature-5 .flex div:nth-child(1) {
        width: 210px;
    }
    
    .feature-5 .flex div:nth-child(2) {
        width: 280px;
    }
    
    .feature-5 .flex div:nth-child(3) {
        width: 340px;
    }
    
    .feature-6 {
        height: 550px;
        width: 100%;
    }
    
    .feature-6 h1 {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 260px;
        padding-top: 33px;
        margin-top: 0;
        font-weight: 700;
        font-size: 28px;
        text-transform: uppercase;
    }
    
    .feature-6 form {
        width: 80%;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .feature6--flex {
        display: flex;
        flex-direction: column;
        height: 320px;
        align-items: center;
    }
    
    .feature-6 form input {
        height: 66px;
    
        border: 3px solid #777777;
        box-sizing: border-box;
        border-radius: 12px;
    
        margin-bottom: 19px;
    
        font-size: 20px;
        font-weight: 400;
    
        padding-left: 22px;
    }
    
    .feature-6 form input.submit {
        font-size: 26px;
        font-weight: 700;
        padding-left: 0;
        width: 235px;
        height: 58px;
        background: black;
        color: white;
        border: none;
        transition: 500ms;
    }
    
    .feature-6 form input.submit:hover {
        cursor: pointer;
        color: yellow;
    }
    
    .feature-6 form textarea {
        height: 130px;
    
        border: 3px solid #777777;
        box-sizing: border-box;
        border-radius: 12px;
        resize: none;
    
        font-size: 21px;
        font-weight: 400;
        padding-left: 22px;
        padding-top: 23px;
        margin-bottom: 10px;
    }
    
    ::placeholder {
        font-size: 21px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }
    
    input:focus {
        font-size: 20px;
        font-weight: 400;
    }
    
    textarea:focus {
        font-size: 21px;
        font-weight: 400;
    }
    
    footer {
        display: flex;
        background-color: black;
        width: 100%;
        height: 114px;
        justify-content: space-around;
        align-items: center;
        color: white;
    }
    
    footer a{
        color: white;
        font-size: 14px;
        font-weight: 700;
    }
    
    footer p {
        font-size: 12px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    transition: 500ms;
    color: black;
    text-decoration: none;

}

a:hover {
    color: yellow;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    height: 130px;
    padding: 0;
    margin: 0;
    background-color: #161616;
    color: #fff;
    font-size: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    margin-left: 44px;
    color: #fff;

}

header .tell-me {
    color: yellow;
    font-weight: bold;
}

.feature-1 {
    height: 657px;
    background-image: url(img/1.jpg);
    background-position: center;
    background-size: cover;
}

.feature-1 a {
    display: inline-block;
    width: 350px;
    height: 63px;
    border-radius: 12px;
    background-color:white;
    position: relative;
    left: 50%;
    margin-left: -175px;
    top: 575px;
    transition: 500ms;
}

.feature-1 .button {
    font-size: 28px;
    position: relative;
    left: 46px;
    top: 15px;
    width: 259px;
}

.feature-1 a:hover {
    background-color: black;
    color: white !important;
}

.feature-2 {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    transition: 1000ms;
    translate: 100ms;
}

.feature-2 img {
    width: 587px;
    height: 350px;
    border: 5px solid white;
    border-radius: 25px;
}

.feature-2 .text {
    width: 466px;
}

.feature-2 .text div:first-child {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 49px;
}

.feature-2 .text div:last-child {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}


.feature-3 {
    width: 100%;
    height: 497px;
    background-image: url(img/3.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.feature-3 h1 {
    font-weight: bold;
    font-size: 36px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 107px;
    padding-top: 61px;
    margin-top: 0;
}

.feature-3 p {
    font-size: 24px;
    font-weight: 400;
    display: block;
    margin-left: 100px;
    margin-right: 252px;
    margin-top: 68px;
}


.feature-4 {
    width: 100%;
    height: 441px;
}

.feature-4 h1 {
    font-weight: 500;
    font-size: 24px;
    display: block;
    width: 234px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 68px;
}

.feature-4 div {
    font-style: italic;
    font-size: 18px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 88px;
}

.feature-4 span:first-of-type {
    width: 325px;
}

.feature-4 span:last-of-type {
    width: 325px;
}

.feature-5 {
    height: 328px;
    width: 100%;
    color: white;
    background-color: #161616;
}

.feature-5 h1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 267px;
    padding-top: 60px;
    font-weight: bold;
    font-size: 36px;
}

.feature-5 .flex {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.feature-5 .flex div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-5 .flex div span {
    font-size: 24px;
    font-weight: 700;
}

.feature-5 .flex div:nth-child(1) {
    width: 271px;
}

.feature-5 .flex div:nth-child(2) {
    width: 367px;
}

.feature-5 .flex div:nth-child(3) {
    width: 450px;
}

.feature-6 {
    height: 500px;
    width: 100%;
}

.feature-6 h1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 325px;
    padding-top: 68px;
    margin-top: 0;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}

.feature-6 form {
    width: 1017px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    display: flex;
    justify-content: space-between;
}

.feature6--flex {
    display: flex;
    flex-direction: column;
    width: 436px;
    height: 320px;
    align-items: center;
}

.feature-6 form input {
    width: 436px;
    height: 66px;

    border: 3px solid #777777;
    box-sizing: border-box;
    border-radius: 12px;

    margin-bottom: 19px;

    font-size: 20px;
    font-weight: 400;

    padding-left: 22px;
}

.feature-6 form input.submit {
    font-size: 26px;
    font-weight: 700;
    padding-left: 0;
    width: 235px;
    height: 58px;
    background: black;
    color: white;
    border: none;
    transition: 500ms;
}

.feature-6 form input.submit:hover {
    cursor: pointer;
    color: yellow;
}

.feature-6 form textarea {
    width: 559px;
    height: 320px;

    border: 3px solid #777777;
    box-sizing: border-box;
    border-radius: 12px;
    resize: none;

    font-size: 21px;
    font-weight: 400;
    padding-left: 22px;
    padding-top: 23px;
}

::placeholder {
    font-size: 21px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

input:focus {
    font-size: 20px;
    font-weight: 400;
}

textarea:focus {
    font-size: 21px;
    font-weight: 400;
}

footer {
    display: flex;
    background-color: black;
    width: 100%;
    height: 114px;
    justify-content: space-around;
    align-items: center;
    color: white;
}

footer a{
    color: white;
    font-size: 26px;
    font-weight: 700;
}

@media screen and (min-width: 480px){
    html {
        width: 1180px;
    }
}

@media screen and (min-width: 1180px) {
    html {
        width: 100%;
    }
}
